.tasks-list {
    display: flex;
    color: #61DBFB;
    border: 1px solid #61DBFB;
    min-width: 375px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #61DBFB;
    flex-direction: column;
    padding-bottom: 10px;
}

.tasks-list .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}